<aside class="sidebar">
    <div class="flex items-center gap-3 mb-12">
      <img alt="Triangle Ied" class="w-10 h-10 rounded" src="src/assets/triangle-logo.png"/>
      <span class="text-white text-lg font-semibold tracking-wide">
        Triangle Ied
      </span>
    </div>
  <nav class="sidebar-nav">
    <ul>
      <li routerLinkActive="active-item">
        <a routerLink="/dashboard"><i class="fas fa-home"></i> Dashboard</a>
      </li>
      <li routerLinkActive="active-item">
        <a routerLink="/teachers"><i class="fas fa-chalkboard-teacher"></i> Teachers</a>
      </li>
      <li routerLinkActive="active-item">
        <a routerLink="/students"><i class="fas fa-user-friends"></i> Students</a>
      </li>
      <li routerLinkActive="active-item">
        <a routerLink="/projects"><i class="fas fa-folder"></i> Projects</a>
      </li>
      <li routerLinkActive="active-item">
        <a routerLink="/sections"><i class="fas fa-list-alt"></i> Sections</a>
      </li>
      <li routerLinkActive="active-item">
        <a routerLink="/finance"><i class="fas fa-wallet"></i> Finance</a>
      </li>
      <li routerLinkActive="active-item">
        <a routerLink="/calendar"><i class="fas fa-calendar-alt"></i> Calendar</a>
      </li>
      <li routerLinkActive="active-item">
        <a routerLink="/timetable"><i class="fas fa-clock"></i> Time Table</a>
      </li>
      <li routerLinkActive="active-item">
        <a routerLink="/message"><i class="fas fa-comment-alt"></i> Message</a>
      </li>
      <li routerLinkActive="active-item">
        <a routerLink="/settings"><i class="fas fa-cog"></i> Settings</a>
      </li>
    </ul>
  </nav>

  <button class="logout-btn">Log Out <i class="fas fa-arrow-right"></i></button>
</aside>
