<div class="row">
    <div class="col-md-12">
        <div class="flex user-header">
            <h4 class="main-heading">Sections</h4>
        </div>
        <div class="card p-3" [class.fullscreen-mode]="isFullscreen">
            <app-grid [gridVM]="sections" [columns]="columns" [customSortEnabled]="true" [gridSearchText]="searchText"
                [paginator]="false" [searchPlaceHolder]="'Search by section name'"
                (gridEvent)="handleChildEvent($event)" [customSortEnabled]="false" [CustomSearch]="false"
                (fullscreenToggle)="onFullscreenToggle($event)" [sortBy]="sortBy" [sortDirection]="sortDirection"
                [pageNumber]="pageNumber" [totalRecords]="totalRecords" [pageSize]="pageSize"></app-grid>
        </div>
    </div>
</div>

<app-loading-spinner *ngIf="showLoader"></app-loading-spinner>